
.tile{
    display: flex;
    width: 2em;
    height: 2em;
    border: solid 1px;
    border-color: #999999;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    gap: 6px;
    margin: 6px;
}
.app{
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    margin: auto;
    color: white;
    width: 100%;
    height: 100vh; 
    font-size: 25px;
    background-color: #121213;

    display: flex;
    flex-direction: column;
    justify-content: center;  /* vertical center */
    align-items: center;
}
.board{
    margin: 10px;
}
.board-div, .keyboard-div, .keyboard-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    width: 40px;
    height: 50px;
    margin: 3px;
    font-size: 20px;
    align-items: center;
    border-radius: 3px;
    border: none;
    background-color: #999999;
    color: white;

}
.key-wide{
    font-size: 15px;
    width: 80px;
}

@media screen and (max-width: 500px){
    .app{
        font-size: 20px;
    }
    button{
        width: 28px;
        height: 32px;
        margin: 2px;
        font-size: 18px;
        align-items: center;
        border-radius: 2px;
        border: none;
    }
    .key-wide{
        font-size: 12px;
        width: 55px;
    }
}


.tile.correct {
  background: #6aaa64;
  border-color: #6aaa64;
  color: white;
}

.tile.present {
  background: #c9b458;
  border-color: #c9b458;
  color: white;
}

.tile.absent {
  background: #3a3a3c;
  border-color: #3a3a3c;
  color: white;
}
